*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
:root {
  --clr-primaty: #78e1e8;
  --clr-desc: #b8b8b8;
  --clr-white: #ffffff;
  --bg-body: #020611;
  --clr-footer: #000000;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-body);
  font-size: 1.4rem;
  line-height: 1.3;
}
body,
button {
  font-family: "Rubik", sans-serif;
}
/* font */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;600;700;900&family=Rubik&display=swap");
/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;600;700;900&family=Rubik&display=swap");
/* font-family: 'Archivo Black', sans-serif; */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #346268;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #25464b;
}
/* header */
header > nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
nav > img {
  width: 120px;
}
nav > i {
  color: var(--clr-white);
  font-size: 2.8rem;
}
.nav-bar {
  color: var(--clr-white);
  display: flex;
  font-size: 1.8rem;
  display: none;
}
.nav-bar > li {
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 5px;
}
.nav-bar > li > a {
  transition: all 0.2s;
  color: var(--clr-white);
  position: relative;
}
.nav-bar > li > a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--clr-white);
  transition: all 0.2s;
}
.nav-bar > li > a:hover::before {
  width: 100%;
  left: 0%;
}
.nav-bar > li > a:active::before {
  background-color: var(--clr-primaty);
}
.nav-bar > li > a:active {
  color: var(--clr-primaty);
}
#hamburger {
  cursor: pointer;
  transition: all 0.3s;
}
#hamburger:hover {
  color: var(--clr-primaty);
}
#login::before {
  width: 0%;
}
#login {
  padding: 5px 10px;
  color: var(--clr-white);
  position: relative;
  border-radius: 3px;
  background-color: #171f29f1;
  transition: all 0.3s;
}
#login::before {
  background-image: linear-gradient(45deg, #af40ff, #5b42f3 50%, #00ddeb);
  box-shadow: 0 0 20px #5a42f391, 0 0 60px #5a42f39f;
  content: "";
  border-radius: 4px;
  z-index: -1;
  width: 110%;
  height: 116%;
  position: absolute;
  top: -7.5%;
  right: -5%;
  left: -5%;
  bottom: -8.5%;
  background-image: linear-gradient(45deg, #af40ff, #5b42f3 50%, #00ddeb);
}
#login:hover {
  background-color: transparent;
}
/* end */

/* home page */

.home-page {
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* home page desc */
.discount {
  width: 250px;
  height: 50px;
  background: linear-gradient(to right, #191820, #211e29);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px auto;
}
.discount > img {
  padding: 5px;
}
.discount > p {
  color: var(--clr-desc);
  font-size: 1.3rem;
}
.span-discount {
  color: var(--clr-white);
}
.span-title {
  background: linear-gradient(to right, #1f9caa, #baeff3);
  -webkit-background-clip: text;
  color: transparent;
}
.home-page-desc {
  width: 300px;
  margin: 0 auto;
}
.home-page-desc > h1 {
  line-height: 1.5;
  color: var(--clr-white);
  font-size: 5rem;
  font-family: "Archivo Black", sans-serif;
  margin: 30px 0;
}
.home-page-desc > p {
  color: var(--clr-desc);
  font-size: 2rem;
}
#get-start1 > img {
  display: none;
  width: 110px;
  position: absolute;
  left: 0px;
  top: 100px;
}
/* home page picture */
.pic-home-page {
  margin-top: 50px;
  height: 500px;
}
.home-page-picture {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.home-page-picture > img {
  width: 280px;
}
.home-page-picture > img:nth-child(4) {
  margin: 50px 0;
  position: relative;
  right: 0;
  width: 310px;
}
.bank-card {
  width: 90%;
  margin: -65px 5%;
}
.card2 {
  z-index: -1;
}
.card3 {
  z-index: -2;
}
.circle {
  position: relative;
  width: 100%;
}
.circle1,
.circle2,
.circle3 {
  position: absolute;
}
.circle1 {
  left: 0;
  width: 80px;
  top: 30px;
}
.circle2 {
  width: 60px;
  right: 30px;
  bottom: -380px;
}
.circle3 {
  width: 40px;
  bottom: -390px;
  left: 0;
}
#get-start2 > img {
  display: block;
  margin: 20px auto;
}
.circle11 {
  position: absolute;
  top: 0px;
  z-index: -2;
  right: 0px;
  width: 400px;
  height: 600px;
  background-color: #455d8273;
  filter: blur(200px);
  border-radius: 40%;
  display: none;
}
.circle33 {
  position: absolute;
  top: -200px;
  z-index: -2;
  right: 50px;
  width: 250px;
  height: 300px;
  background-color: #aac0dfea;
  filter: blur(300px);
  border-radius: 50%;
  display: none;
}
.circle22 {
  position: absolute;
  top: 100px;
  z-index: -1;
  left: -50px;
  width: 400px;
  height: 400px;
  background-color: #2d3039;
  filter: blur(120px);
  border-radius: 50%;
  display: none;
}
/* volume */
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 280px;
  text-align: start;
  margin-bottom: 20px;
}
.volume > p {
  color: var(--clr-white);
  font-size: 2.5rem;
  padding: 5px 0px;
  font-weight: bold;
}
.valume-text {
  padding: 0 10px;
  font-size: 1.6rem;
}
.line-home-page {
  height: 25px;
  width: 1.5px;
  background-color: var(--clr-white);
  display: none;
}
@media screen and (min-width: 576px) {
  .home-page {
    height: 1150px;
  }
  .home-page-desc {
    width: 470px;
  }
  .home-page-picture {
    width: 400px;
  }
  .discount {
    margin: 0;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .home-page {
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    padding: 0px;
  }
  #get-start2 {
    display: none;
  }
  .nav-bar {
    display: flex;
  }
  #hamburger {
    display: none;
  }
  .home-page-desc {
    align-items: center;
    width: 310px;
    margin: 0 0 0 50px;
  }
  .home-page-picture {
    margin-right: 50px;
  }
  .home-page-picture {
    width: 100%;
  }
  .pic-home-page {
    width: 310px;
  }
  .home-page-desc > h1 {
    width: 450px;
    font-size: 5rem;
  }
  .home-page-desc > p {
    width: 380px;
  }
  .discount {
    width: 320px;
    margin: 0;
  }
  .circle33 {
    display: block;
  }
  .circle22 {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .home-page {
    height: 500px;
  }
  .pic-home-page {
    margin-right: 100px;
  }
  .home-page-desc {
    margin: 0 0 0 100px;
  }
  .home-page-desc {
    width: 450px;
  }
  .home-page-picture > img {
    width: 300px;
  }
  .bank-card {
    width: 90%;
    margin: -70px 5%;
  }
  .home-page-picture > img:nth-child(4) {
    width: 350px;
  }
  #get-start1 > img {
    left: 420px;
    display: block;
    top: 80px;
  }
  .circle11 {
    display: block;
  }
}
/* valume home page  */
@media screen and (min-width: 768px) {
  .volume {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 60px;
    height: 170px;
  }
  .line-home-page {
    display: block;
  }
}
/* end */

/* businees */
/* The second page */

.businees {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 900px;
}
.business-desc {
  width: 290px;
}
.business-desc > h2 {
  color: var(--clr-white);
  font-family: "Archivo Black", sans-serif;
  font-size: 4.2rem;
}
.business-desc > p {
  color: var(--clr-desc);
  font-size: 1.8rem;
  margin: 25px 0;
}
/* btn */
.btn-businees {
  cursor: pointer;
  font-size: 1.5rem;
  width: 120px;
  height: 44px;
  transition: 0.8s;
  background-size: 300%;
  background-image: linear-gradient(
    325deg,
    #428aff 0%,
    rgb(139, 232, 255) 55%,
    #428aff 90%
  );
  border: none;
  border-radius: 0.5em;
  color: var(--clr-white);
  box-shadow: 0 0 10px #61daff91, 0 0 50px #61daff91;
}
.btn-businees:hover {
  background-position: right top;
}
.btn-businees:active {
  transform: scale(0.9);
}
.btn-businees > a {
  color: var(--clr-white);
}
/* businees-item */
.businees-items {
  margin-top: 40px;
  width: 100%;
}
.businees-item {
  width: 310px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.businees-item > img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.businees-item > div > h3 {
  color: var(--clr-white);
  font-size: 1.8rem;
}
.businees-item > div > p {
  color: var(--clr-desc);
  margin-top: 10px;
  width: 90%;
}
.businees-item:hover {
  background: linear-gradient(90deg, #5050509d, #22202098);
  border-radius: 10px;
}

@media screen and (min-width: 576px) {
  .businees {
    margin-top: 80px;
    height: 800px;
    justify-content: start;
  }
  .businees-items {
    width: 400px;
  }
  .businees-item {
    width: 100%;
  }
  .business-desc {
    width: 430px;
  }
}
@media screen and (min-width: 768px) {
  .businees {
    margin-top: 40px;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
  }
}
/* end */

/* Easily control */
/* The third page */

.control {
  height: 850px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.desc-control {
  width: 290px;
}
.desc-control > h2 {
  color: var(--clr-white);
  font-size: 4.2rem;
  font-family: "Archivo Black", sans-serif;
}
.desc-control > p {
  font-size: 1.8rem;
  color: var(--clr-desc);
  margin: 20px 0;
}
.desc-control-app {
  display: flex;
  justify-content: center;
}
.desc-control-app > img {
  width: 120px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}
/* items third control  */
/* item1  */
.control-items {
  width: 300px;
  height: 500px;
  position: relative;
}
.control-item1 {
  width: 160px;
  height: 150px;
  border-radius: 10px;
  background: linear-gradient(to right, #474b53, #191820);
  position: absolute;
  top: 35px;
  z-index: 1;
  left: 155px;
}
.control-item1 > .control-item1-1 {
  width: 100%;
  display: flex;
  height: 50px;
}
.control-item1-1 > img {
  width: 40px;
  height: 40px;
  padding: 8px 10px;
  background-color: var(--clr-white);
  border-radius: 50%;
  margin: 10px 10px 10px 20px;
}
.control-item1-1 > div > h3 {
  color: var(--clr-white);
  margin-top: 10px;
  font-size: 1.6rem;
}
.control-item1-1 > div > p {
  color: var(--clr-desc);
  font-size: 12px;
  margin-top: 2px;
}
.control-item1-2 {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.control-item1-2 > p {
  color: var(--clr-desc);
  font-size: 1.3rem;
}
.control-item1-2 > p > span {
  display: block;
  color: var(--clr-white);
  margin-top: 3px;
  font-size: 1.4rem;
}
.control-item1-2 > button {
  color: var(--clr-primaty);
  border: 1px solid var(--clr-primaty);
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.control-item1-2 > button:hover {
  border: 1px solid #a4cfd8;
  color: #a4cfd8;
}
.btn-control {
  color: var(--clr-white);
  background: linear-gradient(to right, #1a8e9b, #6abfc5);
  border-radius: 5px;
  padding: 8px;
  font-size: 1.2rem;
  width: 70%;
  margin: 0px 15%;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-control:hover {
  transform: scale(0.9);
}
/* item2  */

.control-item2 {
  width: 240px;
  height: 250px;
  background: linear-gradient(to right, #474b53, #191820);
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 5px;
}
.control-item2 > h3 {
  color: var(--clr-white);
  padding: 14px 0 0 10px;
  font-size: 1.7rem;
}
.control-item2-1,
.control-item2-2,
.control-item2-3 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.control-item2-1 > div,
.control-item2-2 > div,
.control-item2-3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-item2-1 > div > h4,
.control-item2-2 > div > h4,
.control-item2-3 > div > h4 {
  color: var(--clr-white);
  font-size: 1.4rem;
}
.control-item2-1 > div > img,
.control-item2-2 > div > img,
.control-item2-3 > div > img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  margin-right: 10px;
}
.control-item2-1 > div > img {
  background-color: #b2215a;
}
.control-item2-2 > div > img {
  background-color: var(--clr-white);
}
.control-item2-3 > div > img {
  background-color: #dffff0;
  padding: 10px;
}
.control-item2-1 > div > h4 > span,
.control-item2-2 > div > h4 > span,
.control-item2-3 > div > h4 > span {
  color: var(--clr-desc);
  font-size: 1.2rem;
  display: block;
  margin-top: 3px;
}
.control-item2-1 > div > p,
.control-item2-2 > div > p,
.control-item2-3 > div > p {
  color: var(--clr-desc);
  font-size: 1.3rem;
}
.control-item2-1 > div > i,
.control-item2-2 > div > i {
  color: #bb2d2d;
}
.control-item2-3 > div > i {
  color: #1ae5be;
}
/* item3  */
.control-item3 {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 395px;
  left: 90px;
}
.control-item3 > img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.circle44 {
  position: absolute;
  top: 100px;
  z-index: -1;
  left: -300px;
  width: 600px;
  height: 700px;
  background: linear-gradient(to bottom, #414552, #2d3a61);
  filter: blur(180px);
  border-radius: 50%;
  display: none;
}

@media screen and (min-width: 576px) {
  .desc-control {
    width: 430px;
  }
  .control-items {
    width: 400px;
  }
  .control-item1 {
    width: 180px;
    height: 160px;
    left: 180px;
  }
  .control-item2 {
    width: 310px;
    height: 280px;
  }
  .control-item3 {
    width: 290px;
    left: 90px;
  }
  .control-item3 > p {
    font-size: 1.5rem;
  }
  .control-item2 > h3 {
    font-size: 18px;
  }
  .control-item2 > h3 {
    font-size: 2rem;
  }
  .control-item3 {
    top: 395px;
  }
}
@media screen and (min-width: 768px) {
  .desc-control-app > img {
    margin-left: 0px;
  }
  .control {
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 500px;
  }
  .desc-control-app {
    display: flex;
    justify-content: start;
  }

  .circle44 {
    display: block;
  }
}
/* end  */

/* better-card */
/* The Fourth page */
.better-card {
  height: 1000px;
  /* background-color: #1f9caa59; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.better-card-desc {
  width: 290px;
}
.better-card-desc > h2 {
  color: var(--clr-white);
  font-size: 4.2rem;
  font-family: "Archivo Black", sans-serif;
}
.better-card-desc > p {
  font-size: 1.8rem;
  color: var(--clr-desc);
  margin: 20px 0;
}
.better-card-item {
  width: 310px;
  position: relative;
  /* background-color: #00d8f554; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.better-card-item-circle {
  margin-top: 50px;
  width: 230px;
  height: 230px;
  background: radial-gradient(
    circle,
    transparent 20%,
    #c1dee0 20%,
    #c1dee0 22%,
    transparent 22%,
    transparent 45%,
    #c1dee0 45%,
    #c1dee0 47%,
    transparent 47%,
    transparent 65%,
    #c1dee0 65%,
    #c1dee0 67%,
    transparent 67%,
    transparent 100%
  );
}
/* items  */
/* intem1  */
.better-card-item-1 {
  width: 110px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #474b53, #191820);
  position: absolute;
  top: 200px;
  left: 0px;
}
.better-card-item-1 > img {
  padding: 5px;
  background-color: var(--bg-body);
  border-radius: 5px;
}
.better-card-item-1 > h4 {
  color: var(--clr-white);
  font-size: 1.3rem;
  margin: 5px 0;
}
.better-card-item-1 > p {
  color: var(--clr-desc);
  font-size: 1.2rem;
}
/* item2  */
.better-card-item-2 {
  width: 190px;
  height: 190px;
  background: linear-gradient(to right, #474b53, #191820);
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 60px;
}
.month {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.month > h4 {
  color: var(--clr-white);
  font-size: 1.3rem;
}
.month > p {
  color: var(--clr-desc);
  font-size: 1.1rem;
}
.month > p > i {
  font-size: 0.7rem;
  color: var(--clr-white);
  padding: 3px;
}
.dollar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dollar > span {
  width: 60px;
  font-size: 1.2rem;
}
.dollar > span:nth-child(1) {
  color: #00d2aa;
}
.dollar > span:nth-child(2) {
  color: var(--clr-primaty);
  text-align: end;
}
.better-card-item-2 > img {
  width: 100%;
  margin: 5px 0;
}
.all-month {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--clr-white);
}
.all-month > span {
  cursor: pointer;
  padding: 2px;
}
.span-p4,
.all-month > span:hover {
  border-radius: 3px;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  color: var(--bg-body);
}
/* item3  */
.better-card-item-3 {
  width: 220px;
  height: 100px;
  background: linear-gradient(to right, #474b53, #191820);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: 55px;
  right: 10px;
}
.pay-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: var(--clr-white);
}
.pay-method > i {
  font-size: 1.1rem;
}
.pay-method-icon {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pay-method-icon > img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 10px;
  background-color: var(--clr-white);
}

@media screen and (min-width: 576px) {
  .better-card-desc {
    width: 390px;
  }
  .better-card-item {
    width: 500px;
  }
  .better-card-item-circle {
    /* width: 370px; */
    width: 330px;
    height: 330px;
  }
  .better-card-item-1 {
    top: 150px;
    left: 30px;
    width: 140px;
    height: 120px;
  }
  .better-card-item-2 {
    right: 0;
    top: 120px;
    width: 210px;
    height: 200px;
  }
  .better-card-item-3 {
    bottom: 10px;
    right: 130px;
    width: 220px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .better-card {
    height: 600px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-around;
  }
  .month > h4 {
    font-size: 1.5rem;
  }
  .pay-method {
    font-size: 1.7rem;
  }
  .better-card-item-1 > h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .better-card-item-1 {
    width: 170px;
    height: 140px;
  }
  .better-card-item-2 {
    width: 240px;
    height: 210px;
  }
  .better-card-item-3 {
    width: 250px;
  }
}
/* end  */

/* about us */
/* The fifth page  */

.about-us {
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-us-desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-desc > h2 {
  font-size: 4.2rem;
  color: var(--clr-white);
}
.about-us-desc > p {
  font-size: 1.8rem;
  color: var(--clr-desc);
  margin: 20px 0;
}
/* items  */
.about-us-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about-us-item {
  border-radius: 15px;
  height: 250px;
  width: 270px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 10px;
  background-color: #6565683f;
}
.about-us-item:hover {
  background-color: #65656859;
}
.about-us-item > p {
  color: var(--clr-white);
  margin: 20px 0;
  font-size: 1.8rem;
}
.about-us-item > img {
  width: 30px;
}
.about-us-item-person {
  display: flex;
  align-items: center;
  justify-content: start;
}
.about-us-item-person > span > p:nth-child(1) {
  color: var(--clr-white);
}
.about-us-item-person > span > p:nth-child(2) {
  color: var(--clr-desc);
}
.about-us-item-person > img {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.circle55 {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: -1;
  width: 400px;
  height: 700px;
  background-color: #1a60808a;
  filter: blur(200px);
  border-radius: 50%;
  display: none;
}

/* company  */
.company {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.company > span > img {
  width: 100px;
  margin: 10px;
}
/* service  */
.service {
  height: 420px;
  width: 100%;
}
.service-desc {
  margin: 40px auto;
  padding: 30px;
  width: 80%;
  background: linear-gradient(170deg, #6b6f7767, #1918207a);
  border-radius: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.service-desc > span > h2 {
  color: var(--clr-white);
  font-size: 3.5rem;
}
.service-desc > span > p {
  color: var(--clr-desc);
  font-size: 1.8rem;
  margin: 15px 0;
}

@media screen and (min-width: 576px) {
  .about-us-desc {
    width: 430px;
  }
  .circle55 {
    display: block;
  }
  .about-us-item {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .about-us {
    height: 600px;
  }
  .about-us-desc {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-us-desc > h2 {
    width: 400px;
  }
  .about-us-desc > p {
    width: 250px;
  }
  .about-us-items {
    flex-direction: row;
  }
  .about-us-item {
    width: 300px;
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  .about-us-desc > p {
    width: 400px;
  }
  .about-us-item {
    margin: 10px 20px;
  }
}
@media screen and (min-width: 576px) {
  .company {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .company > span > img {
    margin: 0 20px;
    width: 140px;
  }
}
@media screen and (min-width: 992px) {
  .company > span > img {
    margin: 0 50px;
  }
}

/* service */
@media screen and (min-width: 768px) {
  .service-desc {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    padding: 35px 50px;
  }
  .service-desc > span {
    width: 60%;
  }
  .service-desc > span > p {
    margin-top: 30px;
  }
  .service {
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  .service-desc {
    width: 900px;
  }
}
/* end  */

/* footer  */
footer {
  height: 900px;
  background-color: var(--clr-footer);
  padding-top: 50px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 90%;
  margin: 0 auto;
}
.footer-menu-logo {
  height: 180px;
  width: 250px;
}
.footer-menu-logo > img {
  width: 180px;
}
.footer-menu-logo > p {
  margin: 15px 0;
  color: var(--clr-desc);
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* width: 280px; */
  height: 180px;
  margin: 10px 0;
}
.footer-menu-item > h2 {
  margin-bottom: 15px;
  color: var(--clr-white);
}
.footer-menu-item > a {
  margin: 3px 0;
  transition: all 0.3s;
  color: var(--clr-desc);
}
.footer-menu-item > a:hover {
  color: var(--clr-white);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid var(--clr-desc);
}
.social > p {
  color: var(--clr-desc);
  display: none;
}
.app-social {
  margin-top: 15px;
}
.app-social > a > i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 5px;
  text-align: center;
  color: var(--clr-white);
  font-size: 2.5rem;
  margin: 5px;
  cursor: pointer;
}
.bx {
  position: relative;
}
.bxl-instagram {
  background-color: #e1306be3;
}
.bx-envelope {
  background-color: #e42a2afd;
}
.bxs-phone {
  background-color: #00d270d7;
}
.bxl-twitter {
  background-color: #1da0f2e7;
}
.bx::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s;
}
.bxl-instagram:hover::after {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #b2215a, 0 0 50px #b2215a, 0 0 100px #b2215a;
}
.bx-envelope:hover::after {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #e42a2afd, 0 0 50px #e42a2afd, 0 0 100px #e42a2afd;
}
.bxs-phone:hover::after {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #00d270d7, 0 0 50px #00d270d7, 0 0 100px #00d270d7;
}
.bxl-twitter:hover::after {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #1da0f2e7, 0 0 50px #1da0f2e7, 0 0 100px #1da0f2e7;
}

@media screen and (min-width: 576px) {
  .footer-menu {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-menu > div {
    width: 40%;
  }
  footer {
    height: 580px;
  }
  .social {
    margin-top: 70px;
  }
  .social > p {
    display: block;
  }
  .social {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  footer {
    height: 400px;
  }
  .footer-menu > div {
    width: 20%;
  }
}
